@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Road+Rage&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto Slab', serif;
background-color: #e5e5f7;

background-image:  radial-gradient(#f7454a 0.5px, transparent 0.5px), radial-gradient(#f7454a 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
display: flex;
min-height: 100vh;
}
.form{
    background-color: #e5e5f7;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}
.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragraph{
    font-weight: 400;
}
.form_link{
    font-weight: 400;
    color: rgb(10, 10, 10);
}
form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position: relative;
    color: darksalmon;
}
.form_input{
    width: 100%;
    background: none;
    color: darkgrey;
    font-size: 1rem ;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}
.form_input:focus + .form_label,
     .form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:blue
}
.form_label{
    color: aqua;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}
.form_submit{
    background: #f7454a;
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blue;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;

}
@media (max-width:425px) {
    .form_title{
        font-size: 1.8rem;
    }
}


nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}