.card-group{
    margin:0 auto !important;

}
.servicios {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('img'); /*imagen fondo*/
    background-attachment: fixed;
}
.card-group .card {
    box-shadow: 4px 0px 15px rgb(99, 10, 10);
}
card-img-top {
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}